@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 36px;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 24px;
}